@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0px;
}

:root {
  --font-family: "Rubik", sans-serif;
  /* plain color */
  --neutral-color: #fff;
  --black-color: #000;
  --Soft-Blue: hsl(231, 69%, 60%);
  --Soft-Red: hsl(0, 94%, 66%);
  --Grayish-Blue: hsl(229, 8%, 60%);
  --Very-Dark-Blue: hsl(229, 31%, 21%);
}
body {
  font-family: var(--font-family);
}
/* tthe navigation styling */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  max-width: 1400px;
  padding: 15px 0px;
  font-size: 14px;
}
.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-item a {
  margin-right: 8px;
  text-transform: uppercase;
  color: var(--Grayish-Blue);
  padding: 12px 20px;
  cursor: pointer;
}
.nav-item a:hover {
  color: var(--Soft-Red);
  transition: 0.5s all;
}
.login a {
  color: var(--neutral-color);
  background-color: var(--Soft-Red);
  border-radius: 10px;
}
.login a:hover {
  border: 1px solid var(--Soft-Red);
  color: var(--Soft-Red);
  background-color: var(--neutral-color);
  transition: 0.5s all;
}
#fonts,
.menu,
.nav-item-logo {
  display: none;
}

/* the first section of the web page */
#container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0px auto;
  padding: 50px 0px;
}
.image-box {
  position: relative;
}
.image-box img {
  width: 100%;
}
.bg-main {
  position: absolute;
  top: 120px;
  left: 220px;
  background-color: var(--Soft-Blue);
  padding: 150px 180px;
  padding-right: 280px;
  border-bottom-left-radius: 80px;
  z-index: -1;
}
.container-text h1 {
  color: var(--Very-Dark-Blue);
  font-size: 36px;
  text-transform: capitalize;
  font-weight: 500;
  width: 36vw;
}
.container-text p {
  color: var(--Grayish-Blue);
  padding: 20px 0px;
  line-height: 1.7;
  width: 30vw;
}
.container-text button {
  font-family: var(--font-family);
  font-weight: 500;
  padding: 16px 28px;
  border: 0px;
  border-radius: 10px;
  text-transform: capitalize;
  cursor: pointer;
}
.chrome2 {
  color: var(--neutral-color);
  background-color: var(--Soft-Blue);
}
.iT {
  color: var(--Very-Dark-Blue);
  background-color: rgb(219, 219, 219);
}
.featured {
  margin: 40px 0px;
  text-align: center;
  max-width: 1200px;
  margin: 0px auto;
  width: 50vw;
}
.featured h2 {
  color: var(--Very-Dark-Blue);
  font-size: 32px;
  font-weight: 500;
  padding: 16px 0px;
}
.featured p {
  color: var(--Grayish-Blue);
  line-height: 1.8;
  font-size: 16px;
}
/* the slides section */
#slidesh0w {
  margin: 0px auto;
  max-width: 1200px;
}
.slidesNames {
  margin: 80px 0px 50px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--Grayish-Blue);
}
.slidesNames p {
  padding: 10px 0px;
}
.slidesNames p:hover,
.slide-active {
  color: var(--Soft-Red);
  border-bottom: 3px solid var(--Soft-Red);
  padding: 10px 24px;
  transition: 0.5s all;
  cursor: pointer;
}
.mySlides {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0px auto;
  margin-bottom: 70px;
}
.slides-images {
  position: relative;
}
.slides-blue {
  position: absolute;
  left: -80px;
  top: 35%;
  background: var(--Soft-Blue);
  padding: 120px 150px 100px 250px;
  border-bottom-right-radius: 50%;
  z-index: -1;
}
.slides-text {
  width: 40vw;
  margin-left: 50px;
}
.slides-text h2 {
  color: var(--Very-Dark-Blue);
  font-size: 28px;
  font-weight: 550;
  margin: 0px 0px 10px 0px;
}
.slides-text p {
  color: var(--Grayish-Blue);
  line-height: 1.7;
  margin-bottom: 20px;
}
.slides-text button {
  font-family: var(--font-family);
  color: var(--neutral-color);
  background-color: var(--Soft-Blue);
  padding: 14px 20px;
  border: 0px;
  border-radius: 8px;
  cursor: pointer;
}
.second,
.third,
.slidesMobile {
  display: none;
}
/* the browsers icons section styles */
#main-grid {
  max-width: 860px;
  margin: 0px auto;
}
.grid-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  margin: 20px 0px;
  margin-bottom: 50px;
}
.browser {
  text-align: center;
  box-shadow: #bec7eead 0px 4px 12px;
  padding: 10px 0px 10px 0px;
  border-radius: 10px;
}
.browser-image {
  margin-bottom: 20px;
}
.browser h1 {
  font-size: 24px;
  font-weight: 550;
  margin-bottom: 5px;
  color: var(--Very-Dark-Blue);
}
.browser p {
  color: var(--Grayish-Blue);
  font-size: 17px;
}
.browser .chrome {
  position: relative;
  margin-top: 0px;
}
.firefox {
  position: relative;
  margin-top: 80px;
}
.Opera {
  position: relative;
  margin-top: 150px;
}
.twelve {
  color: var(--neutral-color);
  background-color: var(--Soft-Blue);
  font-family: var(--font-family);
  padding: 12px 45px;
  margin: 25px 0px 10px 0px;
  border: 0px;
  border-radius: 6px;
  cursor: pointer;
}
.twelve:hover {
  color: var(--Soft-Blue);
  border: 2px solid var(--Soft-Blue);
  background-color: transparent;
  transition: 0.5s all;
}
#intro {
  font-family: var(--font-family);
  text-align: center;
  max-width: 768px;
  margin: 0px auto;
}
.intro-faq {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 70px;
}
.intro-faq h2 {
  color: var(--Very-Dark-Blue);
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 30px 0px 10px 0px;
}
.intro-faq p {
  color: var(--Grayish-Blue);
  line-height: 1.6;
  margin: 8px 100px 0px 100px;
}
.maintain {
  margin: 15px;
}
input[type="radio"] {
  display: none;
}
.accordion label {
  text-align: left;
  display: block;
  padding: 20px;
  color: var(--Very-Dark-Blue);
  border-bottom: 1px solid rgba(128, 128, 128, 0.616);
  background-color: var(--neutral-color);
  font-weight: 500;
  z-index: 2;
}
.accordion:last-child > label,
.accordion:last-child > .accordion-content {
  border: none;
}
.accordion-content {
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.664);
  padding: 0;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  z-index: -1;
  transition: 0.3s linear;
}
.accordion-content p {
  color: hsl(229, 8%, 60%);
  line-height: 1.6;
  font-size: 14px;
}
input:checked ~ .accordion-content {
  padding: 15px;
  opacity: 1;
  max-height: 500px;
  z-index: 1;
}
.one .chrom {
  border: 0px;
  border-radius: 5px;
  background-color: var(--Soft-Blue);
  color: var(--neutral-color);
  padding: 14px 26px;
  font-family: var(--font-family);
  font-size: 16px;
  cursor: pointer;
}
.one .chrom:hover {
  border: 2px solid var(--Soft-Blue);
  background-color: transparent;
  color: var(--Soft-Blue);
  transition: 0.5s all;
}
.mail {
  margin-top: 40px;
  background-color: hsl(231, 69%, 60%);
  color: white;
  text-align: center;
  padding: 50px;
}
.mail p {
  letter-spacing: 4px;
  margin-bottom: 3px;
}
.mail h2 {
  font-weight: 400;
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 30px;
}
form {
  text-align: center;
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
form input {
  padding: 20px 40px;
}
input[type="email"] {
  /* display: block; */
  font-family: var(--font-family);
  color: var(--Grayish-Blue);
  border: 0px;
  border-radius: 5px;
  width: 30vw;
  margin: 0px 10px 0px 0px;
}
input[type="email"]:focus {
  outline: none;
}
input[type="submit"] {
  font-family: "Rubik", sans-serif;
  font-size: 17px;
  color: var(--neutral-color);
  background-color: var(--Soft-Red);
  text-transform: capitalize;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}
input[type="submit"]:hover {
  color: var(--Soft-Red);
  background-color: var(--neutral-color);
  border: 1px solid --Soft-Red;
  transition: 0.5s all;
  cursor: pointer;
}

/* footer */
footer {
  background-color: var(--Very-Dark-Blue);
  color: var(--neutral-color);
  text-align: center;
  padding: 30px 0px;
}
.footer-mobile {
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer-one li {
  margin: 0px 30px 0px 0px;
  font-weight: 300;
  cursor: pointer;
}
.footer-one li:hover {
  color: var(--Soft-Red);
  transition: 0.5s all;
}
.fab {
  font-size: 28px;
}
.footer-image .fa-twitter {
  margin-left: 20px;
}
@media screen and (max-width: 450px) {
  /* the mobile responsive css styles of the web page */
  nav {
    max-width: 340px;
    margin: 0px auto;
    font-size: 18px;
    /* position: relative; */
  }
  .menu {
    display: block;
    cursor: pointer;
  }
  .nav-item {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
    width: 100vw;
    height: 100vh;
    background-color: var(--Very-Dark-Blue);
    transform: translateX(-100%);
    transition: 0.5s all;
    z-index: 10;
  }
  .nav-item-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px 0px;
  }
  .close-items {
    cursor: pointer;
  }
  .nav-item-logo div {
    margin: 0px;
  }
  .nav-item li {
    margin-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid var(--Grayish-Blue);
    width: 80%;
  }
  .nav-item a {
    margin-right: 0px;
    text-transform: uppercase;
    color: var(--neutral-color);
    padding: 16px 20px;
    cursor: pointer;
  }
  .login a {
    color: var(--neutral-color);
    background-color: transparent;
  }
  #fonts {
    display: flex;
    justify-items: flex-end;
    color: var(--neutral-color);
    padding: 20px 0px;
    font-size: 28px;
  }
  .fa-twitter {
    margin-left: 20px;
  }
  .add {
    transform: translateX(0%);
    transition: 0.5s all;
  }
  .remove {
    transform: translateX(-100%);
    transition: 0.5s all;
  }
  /* the section mobile */
  #container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
    margin: 0px auto;
    padding: 50px 0px;
  }
  .bg-main {
    position: absolute;
    top: 10%;
    left: 30%;
    background-color: var(--Soft-Blue);
    padding: 130px 0px;
    padding-right: 70%;
    border-bottom-left-radius: 80px;
    z-index: -1;
  }
  .container-text {
    margin-top: 50px;
    text-align: center;
  }
  .container-text h1 {
    color: var(--Very-Dark-Blue);
    font-size: 36px;
    text-transform: capitalize;
    font-weight: 500;
    width: 100vw;
  }
  .container-text p {
    color: var(--Grayish-Blue);
    padding: 20px 0px;
    line-height: 1.7;
    width: 100vw;
  }
  .featured {
    margin: 40px 0px;
    text-align: center;
    max-width: 350px;
    margin: 0px auto;
    width: 100vw;
  }
  .featured h2 {
    color: var(--Very-Dark-Blue);
    font-size: 28px;
    font-weight: 500;
    padding: 16px 0px;
  }
  /* the mobile styles */
  #slidesh0w {
    margin: 0px auto;
    max-width: 390px;
  }
  .mySlides {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 380px;
    margin: 0px auto;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .slides-blue {
    position: absolute;
    left: -60px;
    top: 24%;
    background: var(--Soft-Blue);
    padding: 200px 50px 50px 150px;
    border-bottom-right-radius: 50%;
    z-index: -1;
  }
  .slides-images {
    width: 90vw;
  }
  .slides-text {
    width: 90vw;
    margin-left: 0px;
    margin-top: 90px;
  }
  .second,
  .third,
  .slidesNames {
    display: none;
  }
  .slidesMobile {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px 0px 80px 0px;
  }
  .slidesNames p:hover,
  .slide-active {
    color: var(--Soft-Red);
    border-bottom: 3px solid var(--Soft-Red);
    padding: 0px 10px;
    transition: 0.5s all;
    cursor: pointer;
  }
  /* the browser responsive styles for mobile */
  #main-grid {
    max-width: 370px;
    margin: 0px auto;
  }
  .grid-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    margin: 70px 0px;
    margin-bottom: 100px;
  }
  .browser .chrome {
    position: relative;
    margin-top: 0px;
  }
  .firefox {
    position: relative;
    margin-top: 0px;
  }
  .Opera {
    position: relative;
    margin-top: 0px;
  }
  /* the accordion styles */
  .intro-faq p {
    color: var(--Grayish-Blue);
    line-height: 1.6;
    margin: 8px 20px 0px 20px;
  }
  /* the subfooter section */
  form {
    text-align: center;
    max-width: 370px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  form input {
    padding: 20px 30px;
  }
  input[type="email"] {
    /* display: block; */
    font-family: var(--font-family);
    color: var(--Grayish-Blue);
    border: 0px;
    border-radius: 5px;
    width: 90vw;
    margin: 0px 0px 10px 0px;
  }
  input[type="submit"] {
    font-family: "Rubik", sans-serif;
    font-size: 17px;
    color: var(--neutral-color);
    background-color: var(--Soft-Red);
    text-transform: capitalize;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    width: 90vw;
  }
  /* the footer responsive styles */
  .footer-mobile {
    max-width: 370px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 30px 0px;
    padding: 0px;
  }
  .footer-one li {
    margin: 30px 0px 0px 0px;
    font-weight: 300;
    cursor: pointer;
  }
}
